html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


/* Fade in */

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden;
}


	
/* Section 0
* --------------------------------------- */	
#section0 {
	background: #ffffff;
}

.section0 .logo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 20pt solid #20c36b;
	margin: 0 auto;
	margin-top: -80px;
}		
.section0 h1 {
	text-align: center;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 30px;
	font-size: 44px;
	color: #343434;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.2px;	
}
.section0 h2 {
	text-align: center;
	padding: 0;
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	width:100%;
	max-width: 350px;
	margin: 0px auto;
}
.section0 .scroll-down {
	background: url(../img/scroll.png) no-repeat center center;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background-size: 24px 45px;
}


/* CSS for high-resolution devices */
@media only screen and (min-width: 770) and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.section0 .scroll-down {
		background: url(../img/scroll@2x.png) no-repeat center center;
		background-size: 100% 100%;;
	}
}



/* MOBILE PHONE */
@media screen and (max-width: 760px) {
	.section0 {
		padding: 20px;
	}

	.section0 .logo {
		width: 70px;
		height: 70px;
		border: 16pt solid #20c36b;
	}
	.section0 h1 {
		font-size: 32px;
	}
	.section0 h2 {
		margin-top: 30px;
		font-size: 16px;
		line-height: 24px;
		width:100%;
	}
	.section0 .scroll-down {
		background-size: 18px 34px;
	}

}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.section0 {
		padding: 20px;
	}
}


@media only screen and (min-width : 1824px) {
	.section0 .logo {
		width: 150px;
		height: 150px;
		-moz-border-radius: 150px;
		-webkit-border-radius: 150px;
		border-radius: 150px;
		border: 30pt solid #20c36b;
	}	
	.section0 h1 {
		margin-bottom: 60px;
		margin-top: 40px;
		font-size: 72px;
	}
	.section0 h2 {
		font-size: 30px;
		line-height: 42px;
		max-width: 550px;
		font-weight: 300;
	}
	.section0 .scroll-down {
		background-size: 36px 68px;
		height:140px;
	}
}






/* Section 1
* ------------------------------------------------------------------------------------------------------ */	
#section1 {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}


.section1 {
	width:100%;
	max-width: 760px;
	margin: 0px auto;
}

.text {
	max-width: 360px;
	float: right;
	margin-top: 140px;
}

.section1 .text h3 {
font-size: 40px;
line-height: 52px;
color: #343434;
font-weight: 300;
letter-spacing: 0.2px; 
text-align: left;
}

.section1 .text p {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: left;
}



.iphone {
	width: 50%;
	height: 100%;

}

.iphone-photo {
	background: url(../img/iphone1.png) no-repeat;
	max-width:380px;
	min-height: 640px;
	background-size: 100%;
	margin-top: 100px;
}

.section1 .video {
	position: absolute;
	margin-left: 60px;
	margin-top: 73px;
	width: 260px;
	height: 446px;
}





@media screen and (max-width: 760px) {
	#section1 {
		padding: 20px;
	}
	.text {
		max-width: 100%;
		float: none;
		margin-top: 0px;
	}
	.section1 .text h3 {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}	
	.section1 .text p {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	.iphone {
		float: none;
		width: 100%;
	}
	.iphone-photo {
		background: url(../img/iphone1.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 50px;
	}
	.section1 .video {
		display: none;
		visibility: hidden;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#section1 {
		padding: 20px;
	}
	.iphone-photo {
		background: url(../img/iphone1.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 30px;
	}
	.section1 .video {
		display: none;
		visibility: hidden;
	}
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.iphone-photo {
		background: url(../img/iphone1@2x.png) no-repeat;
		background-size: 100% 100%;
		background-position: center;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size: contain;
		 background-size: contain;
	}
 }



@media only screen and (min-width : 1824px) {
	.section1 {
		width:100%;
		max-width: 960px;
	}
	
	.text {
		max-width: 460px;
		margin-top: 250px;
	}
	.section1 .text h3 {
		font-size: 50px;
		line-height: 62px;
	}
	
	.section1 .text p {
		font-size: 28px;
		line-height: 40px;
		font-weight: 300;
	}	
	.iphone {
		width: 50%;
		height: 100%;	
	}	
	.iphone-photo {
		background: url(../img/iphone.png) no-repeat;
		max-width:500px;
		min-height: 842px;
		background-size: 100%;
	}
	.section1 .video {
		margin-left:82px;
		margin-top: 92px;
		width: 316px;
		height: 563px;

	}
}



/* Section 2
* ------------------------------------------------------------------------------------------------------ */	
.section2 {
	width:100%;
	max-width: 760px;
	margin: 0px auto;
}

.text2 {
	max-width: 360px;
	float: left;
	margin-top: 240px;
}

.section2 .text2 h3 {
	font-size: 40px;
	line-height: 52px;
	color: #343434;
	font-weight: 300;
	letter-spacing: 0.2px; 
	text-align: left;
}

.section2 .text2 p {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: left;
}

.iphone2 {
	float: right;
	width: 50%;
	height: 100%;

}

.iphone-photo2 {
	background: url(../img/iphone2.png) no-repeat;
	max-width:380px;
	min-height: 640px;
	background-size: 100%;
	margin-top: 100px;
}

.section2 .video {
	position: absolute;
	margin-left: 80px;
	margin-top: 173px;
	width: 260px;
	height: 446px;
}

@media screen and (max-width: 760px) {
	#section2 {
		padding: 20px;
	}
	.text2 {
		max-width: 100%;
		float: none;
		margin-top: 0px;
	}
	.section2 .text2 h3 {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}	
	.section2 .text2 p {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	.iphone2 {
		float: none;
		width: 100%;
	}
	.iphone-photo2 {
		background: url(../img/iphone2.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 50px;
	}
	.section2 .video {
		display: none;
		visibility: hidden;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#section2 {
		padding: 20px;
	}
	.iphone-photo2 {
		background: url(../img/iphone2.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 30px;
	}
	.section2 .video {
		display: none;
		visibility: hidden;
	}
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.iphone-photo2 {
		background: url(../img/iphone2@2x.png) no-repeat;
		background-size: 100% 100%;
		background-position: center;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size: contain;
		 background-size: contain;
	}
}


@media only screen and (min-width : 1824px) {
	.section2 {
		width:100%;
		max-width: 960px;
	}
	
	.text2 {
		max-width: 460px;
		margin-top: 250px;
	}
	.section2 .text2 h3 {
	font-size: 50px;
	line-height: 62px;
	}
	
	.section2 .text2 p {
		font-size: 28px;
		line-height: 40px;
		font-weight: 300;
	}	
	.iphone2 {
		width: 50%;
		height: 100%;	
	}	
	.iphone-photo2 {
		background: url(../img/iphone.png) no-repeat;
		max-width:500px;
		min-height: 842px;
		background-size: 100%;
	}
	.section2 .video {
	margin-left: 102px;
	margin-top: 192px;
	width: 316px;
	height: 563px;
	}
}




/* Section 3
* ------------------------------------------------------------------------------------------------------ */	

#section3 {
	background: #f4f4f4;
}


.section3 {
	width:100%;
	max-width: 760px;
	margin: 0px auto;
}

.text3 {
	max-width: 360px;
	float: right;
	margin-top: 140px;
}

.section3 .text3 h3 {
font-size: 40px;
line-height: 52px;
color: #343434;
font-weight: 300;
letter-spacing: 0.2px; 
text-align: left;
}

.section3 .text3 p {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: left;
}

.iphone3 {
	width: 50%;
	height: 100%;

}

.iphone-photo3 {
	background: url(../img/iphone3.png) no-repeat;
	max-width:380px;
	min-height: 640px;
	background-size: 100%;
	margin-top: 100px;
}

.section3 .video {
	position: absolute;
	margin-left: 60px;
	margin-top: 73px;
	width: 260px;
	height: 446px;
}

@media screen and (max-width: 760px) {
	#section3 {
		padding: 20px;
	}
	.text3 {
		max-width: 100%;
		float: none;
		margin-top: 0px;
	}
	.section3 .text3 h3 {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}	
	.section3 .text3 p {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	.iphone3 {
		float: none;
		width: 100%;
	}
	.iphone-photo3 {
		background: url(../img/iphone3.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 50px;
	}
	.section3 .video {
		display: none;
		visibility: hidden;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#section3 {
		padding: 20px;
	}
	.iphone-photo3 {
		background: url(../img/iphone3.png) no-repeat;
		max-width:380px;
		min-height: 640px;
		background-size: 100%;
		margin-top: 30px;
	}
	.section3 .video {
		display: none;
		visibility: hidden;
	}

}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.iphone-photo3 {
		background: url(../img/iphone3@2x.png) no-repeat;
		background-size: 100% 100%;
		background-position: center;
		 -webkit-background-size: contain;
		 -moz-background-size: contain;
		 -o-background-size: contain;
		 background-size: contain;
	}
}


@media only screen and (min-width : 1824px) {
	.section3 {
		width:100%;
		max-width: 960px;
	}
	
	.text3 {
		max-width: 460px;
		margin-top: 250px;
	}
	.section3 .text3 h3 {
	font-size: 50px;
	line-height: 62px;
	}
	
	.section3 .text3 p {
		font-size: 28px;
		line-height: 40px;
		font-weight: 300;
	}	
	.iphone3 {
		width: 50%;
		height: 100%;	
	}	
	.iphone-photo3 {
		background: url(../img/iphone.png) no-repeat;
		max-width:500px;
		min-height: 842px;
		background-size: 100%;
	}
	.section3 .video {
	margin-left:82px;
	margin-top: 92px;
	width: 316px;
	height: 563px;
	}
}





/* Section 4
* ------------------------------------------------------------------------------------------------------ */	

.section4 {
	width:100%;
	max-width: 760px;
	margin: 0px auto;
	height: 50%;
}

.section4 .app-icon {
	background: url(../img/app-icon.png) no-repeat;
	background-size: 100% 100%;
	width: 126px;
	height: 126px;
	margin: 0 auto;	
	margin-bottom: 20px;
}


.section4 h3 {
	font-size: 40px;
	line-height: 52px;
	color: #343434;
	font-weight: 300;
	letter-spacing: 0.2px; 
	text-align: center;
	margin: 0;
}


.section4 p {
	font-size: 20px;
	line-height: 28px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: center;
	margin-top: 10px;
}


.section4 .app-store-btn {
	background: url(../img/app-store.png) no-repeat;
	background-size: 100% 100%;
	width: 177px;
	height: 62px;
	margin: 0 auto;
	margin-top: 70px;	
}

.section4 .app-store-btn:hover {
	background: url(../img/app-store-hover.png) no-repeat;
	background-size: 100% 100%;	
}


.section4 #app-store-link { 
	width: 177px; 
	height: 62px; 
	display: block;
	cursor: pointer; 
}

 .section4 .social {
 	max-width: 118px;
 	margin: 0 auto;
 	height:120px;
 	position:absolute;
 	bottom:0;
 	left:0;
 	right: 0;
 }
 
 
 .section4 .facebook{
	 background: url(../img/facebook.png) no-repeat;
	 width: 50px;
	 height: 50px;
	 float: left;
	 margin-left: 18px;
  }
 
.section4 .twitter {
	background: url(../img/twitter.png) no-repeat;
	width: 50px;
	height: 50px;
	float: left;
 }
 
 .section4 .social #twitter-link, #facebook-link {
	 width: 50px; 
	 height: 50px; 
	 display: block;	
 }
 
.copyrigth {
	font-size: 12px;
	color: #888888;
	font-weight: 300;
	letter-spacing: 0.2px;	
	text-align: center;
	width:100%;
	height:40px;
	position: absolute;
	bottom:0;
	left:0;
}

.copyrigth a {
	color: #20c36b;
	text-decoration: none;
}

.copyright a:hover {
	color: #20c36b;
	text-decoration: none;
}

.copyrigth a:visited {
	color: #20c36b;
	text-decoration: none;
}
 
 
 @media screen and (max-width: 760px) {
	 .section4 {
	 	height: 80%;
	 }
 	#section4 {
 		padding: 20px;
 	}
 	.section4 h3 {
 		font-size: 30px;
 		line-height: 40px;
 	}	
 	.section4 p {
 		font-size: 16px;
 		line-height: 24px;
 	}
 	.section4 .app-icon {
 		background: url(../img/app-icon.png) no-repeat;
 		background-size: cover;
 		width: 100px;
 		height: 100px;
 	}
 }
 
 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
 	 .section4 {
 	 	height: 80%;
 	 }
 	#section4 {
 		padding: 20px;
 	}
 	.section4 h3 {
 		font-size: 30px;
 		line-height: 40px;
 	}	
 	.section4 p {
 		font-size: 16px;
 		line-height: 24px;
 	}
 	.section4 .app-icon {
 		background: url(../img/app-icon.png) no-repeat;
 		background-size: cover;
 		width: 120px;
 		height: 120px;
 	}
 }
 
 
 
/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.section4 .app-icon {
		background: url(../img/app-icon@2x.png) no-repeat;
		background-size: 100% 100%;
	}
	.section4 .app-store-btn {
		background: url(../img/app-store@2x.png) no-repeat;
		background-size: 100% 100%;		
	}
	.section4 .app-store-btn {
		margin-top: 50px;		
	}
	.copyrigth {
		font-size: 10px;
	}
	 .section4 .facebook{
		 background: url(../img/facebook@2x.png) no-repeat;
		 background-size: 100% 100%;
	}	 
	.section4 .twitter {
		background: url(../img/twitter@2x.png) no-repeat;
		background-size: 100% 100%;
	}
 }
 
 

 
@media only screen and (min-width : 1824px) {
	.section4 {
		width:100%;
		max-width: 960px;
		height: 50%;
	}
	.section4 h3 {
		font-size: 50px;
		line-height: 62px;
	}	
	.section4 p {
		font-size: 28px;
		line-height: 40px;
		font-weight: 300;
	}
	.section4 .app-icon {
		width: 180px;
		height: 180px;
		margin-bottom: 50px;
	}
	.section4 .app-store-btn {
		width: 240px;
		height: 84px;
		margin-top: 100px;	
	}
}
