*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face{
  font-family: "Anonymous Pro";
  src : url("/fonts/AnonymousPro.ttf");
}

.wrapper {
  height: 100%;
  font-family: "Anonymous Pro";
}

/*body {
  text-align: center;
}*/

h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 2%;
}

h1.centered{
  margin-left: 100px;
  float: left;
}

.left {
  text-align: right;
  float: left;
  width: 50%;
}

.right {
  text-align: left;
  float: right;
  width: 50%;
}

.networks {
  overflow: hidden;
}

p {
  color: #888;
  font-size: 1em;
  margin: 0;
}

.hi5 {
  color: #ccc;
  font-size: 0.8em;
  margin-top: 10%;
}

a,
a:visited {
  text-decoration: none;
  color: #3790FF;
}

a:hover {
  text-decoration: underline;
}

#i-am:after {
  -webkit-animation: cursor-blink 0.8s linear infinite;
  -moz-animation: cursor-blink 0.8s linear infinite;
  -o-animation: cursor-blink 0.8s linear infinite;
  animation: cursor-blink 0.8s linear infinite;
  content: "|";
  color: #cb3837;
  padding-left: 3px;
}
 
#i-am.disabled:after {
  content: none;
}
 
@-moz-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}